<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaeyoung.d_time">
    <!-- camera, gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.timetable.TimeTableActivity">

        </activity>
        <activity android:name=".activity.diary.DiarySearchActivity" />
        <activity android:name=".activity.diary.DiaryBookMarkDetailActivity" />
        <activity android:name=".activity.diary.DiaryBookMarkSelActivity" />
        <activity android:name=".activity.diary.DiaryBookMarkActivity" />
        <activity android:name=".activity.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jaeyoung.d_time"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.diary.DiaryWriteActivity" />
        <activity android:name=".activity.diary.DiaryViewActivity" />
        <activity
            android:name=".activity.main.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>